.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-12

			#search-options-dates.search-option-panel
				= render :partial => 'shared/date_picker'

	.row
		.col-md-4
			.search-option-panel
				%h4 
					Parliamentary sessions
				.search-option-panel-content
					%ul
						- 5.times do 
							%li
								= check_box_tag :article, "articles", true
								Sample

		.col-md-4
			.search-option-panel
				
				%h4 
					Volumes

				.search-option-panel-content
					%ul
						- 5.times do 
							%li
								= check_box_tag :article, "articles", true
								Sample

		.col-md-4
			.search-option-panel
				
				%h4 
					Topics

				.search-option-panel-content
					%ul
						- 5.times do 
							%li
								= check_box_tag :article, "articles", true
								Sample
