%table.table
	%thead
		%tr
			%th.col-md-9 Item
			%th.col-md-3 Date
	%tbody
		- @search_results['search']['results'].each do |result|
			%tr
				%td
					%a{:href => "/#{@type}/#{result['id']}"}
						= result['title']
				%td= Date.parse(result['date'].to_a[0]).strftime("%e %B, %Y")




