= hidden_field_tag 'titles', '', class: 'sendable'

%h4 What titles would you like to search?

.row
	.col-md-6

		%h5 Magazines

		%label
			= check_box_tag "x", 'x', true
			Te Ao Hou

		%label
			= check_box_tag "x", 'x', true
			Kai Tiaki: The Journal of New Zealand Nursing

	.col-md-6

		%h5 Journals

		%label
			= check_box_tag "x", 'x', true
			Transactions and Proceedings of the Royal Society


