%h4 
	Dates between

.search-option-panel-content

	.date-picker-slider
		.slider-range

		.slider-caption 
			%input#year-start{ :type => 'text', :value => 1830, :size => 5 }
			and
			%input#year-end{ :type => 'text', :value => 1945, :size => 5 }
			%em.date-precise-button
				or,
				= link_to 'choose a more precise date range', '#'

	.date-precise
		%input#year-start-precise{ :type => 'text', :value => '1830-01-01', :size => 10 }
		and 
		%input#year-end-precise{ :type => 'text', :value => '1945-12-31', :size => 10 }

		%em.date-precise-hider
			%a= 'Back to simple timeline '
