%h3 
	100 years ago today…
	%small Just a few to get you started!

.thumbnail-pages
	- @front_pages[:search_results].each do |fp|
		.thumbnail-page
			.thumbnail-page-image
				= link_to image_tag("http://paperspast.natlib.govt.nz/cgi-bin/imageserver/imageserver.pl?oid=#{fp[:id]}.1.1&scale=5&color=32&ext=gif&key="), veridian_id_to_route(fp[:id])
			%p
				= link_to fp[:title], veridian_id_to_route(fp[:id])
				= fp[:date].strftime("%-d %B, %Y")
