.search-box

	#dates-picker.search-tool-panel.closeable
		= render :partial => 'shared/close_widget'
		= render :partial => 'shared/date_picker'
	#region-picker.search-tool-panel.closeable
		= render :partial => 'shared/close_widget'
		= render :partial => 'newspapers/region_picker'


