%table.table
	%thead
		%tr
			%th.col-md-6 Article
			%th.col-md-3 Newspaper
			%th.col-md-3 Date
	%tbody
		- @search_results[:search_results].each do |result|
			%tr
				%td
					%a{:href => "/#{@type}/#{result[:id].gsub('.', '-')}"}= result[:title]
				%td= @search_results[:publication_title]
				%td= @search_results[:date]
