.about
	%h1 About Papers Past
	.row
		.col-md-6
	
			%p Papers Past contains more than three million pages of digitised New Zealand newspapers and periodicals. The collection covers the years 1839 to 1945 and includes 83 publications from all regions of New Zealand.




			%h2#new_site About the new site

			%p If you're a regular visitor to Papers Past, you've probably noticed that a few things look different around here!

			%p The site you're looking at is the "beta" (work in progress) version of the new Papers Past. While we've heard loud and clear from our passionate fans that you love the site the way it is, there are a few areas--some obvious, some less so-- where the site needs some maintenance. 

			%h3 Other historical papers besides newspapers
	
			%p The National Library (the maintainer of Papers Past) has hundreds of thousands of objects in dozens of formats. Before now, we've had separate websites for all of the different formats

			%p We've tried to keep the experience within the Newspapers section very similar to what our regular users are already used to. You're under no obligation to visit the other materials, but we think you'll find them very interesting!

			%h3 Support for tablets and smartphones

			%p Lorem

			%h3 Easier-to-use controls

			%p Lorem

			%h3 Better usability

			%p Lorem

			%h2 Acknowledgements
			
			%p The National Library would like to thank all those organisations that provided the original paper copies to the Alexander Turnbull Library for microfilming.

		.col-md-6
			.well

				%h3 What's new
				
				%p In April 2013 we added:

				%ul 
					%li New Zealand Herald (1885-1924)
				
				%p In May 2013 we added:
				%ul 
					%li Hutt Valley Independent (1911-1919)
					%li Lyttelton Times (1866-1869)
					%li Manawatu Standard (1911-1912)
					%li Manawatu Times (1909-1911)
					%li Nelson Evening Mail (1910-1918)
					%li North Otago Times (1901-1918)
					%li Upper Hutt Weekly Review (1935-1939)
					%li Waihi Daily Telegraph (1904-1909)
					%li Waikato Times (1893-1895)
					%li Wairarapa Daily Times (1879-1901)
				
				%p In September 2013 we added:
				%ul 
					%li King Country Chronicle (1906-1920)
					%li Mount Ida Chronicle (1869-1926)
					%li Oamaru Mail (1876-1920)
					%li Timaru Herald (1901-1920)

				%h3 How we select new titles
				
				%p National Library curators select new newspaper titles for Papers Past based on a number of factors, such as national and regional significance, the availability of paper or microfilm copies of the newspaper, and ensuring a good range of regions and dates. We do not provide recent material because of copyright restrictions.

				%p To learn more about our newspaper digitisation programme, visit the Papers Past page on the National Library website.
