.about
	.row
		.col-md-6

			%h1 What is in Papers Past?

			%p The newspapers on Papers Past are only a small proportion of New Zealand newspapers. There are a number of reasons that a particular document might not be available:

			%h3 We haven't digitised it yet.

			%p It takes time and money to digitise newspapers. Despite the size of Papers Past, we've still only scratched the surface! Keep an eye on the home page of this site for updates about what's coming and what's new.

			%h3 The physical newspaper is missing.

			%p Not every copy of every NZ newspaper still actually exists. Some older papers are nowhere to be found. 

			%h3 It's still in copyright.

			%p Newspapers published 

			%h2 Where can I find items that aren't in Papers Past?

			%p If you cannot find what you are looking for online, it may be available as a paper copy or microfilm. Check the National Newspaper Collection page on the National Library website for more information.

