.help
	.row
		.col-md-6
	
			%h1 Using Papers Past

			%p There are two main ways to find information in Papers Past: searching and browsing. Searching lets you enter a query term and retrieves articles that contain that term. Browsing lets you look at all the newspapers, starting with a year, a region, or a newspaper title. All the newspaper titles on the site can be searched and browsed.

			%h3 How to find out more about our newspaper collection
			
			%p The newspapers on Papers Past are only a small protion of New Zealand newspapers. If you cannot find what you are looking for online, it may be available as a paper copy or microfilm. Check the National Newspaper Collection page on the National Library website for more information.

			%p View the National Newspaper Collection on the National Library website.
			
			%h3 How to find out more about a newspaper
			
			%p Each newspaper on Papers Past has its own page containing information about the publication, including the date range which is available online and a link to an essay about the newspaper's history. You can find links to all the newspapers on the Browse by title page.
			Go to the Browse by title page

			%h3 Where to find Māori newspapers
			
			%p The Māori Niupepa Collection is a collection of historic newspapers published primarily for a Māori audience between 1842 and 1932. Digitised copies of these newspapers are available on the New Zealand Digital Library website.
			
			%p Māori Niupepa Collection — New Zealand Digital Library website
			
			