.home
	.row
		.col-md-12
			%h1 
				Papers Past
				%small Explore the full text of New Zealand's history.
	.row
		.col-md-6
			.media
				%a.pull-left{:href => '/newspapers'}
					%img.media-object{ :src => '/assets/icon-home-newspapers.jpg'}
				.media-body
					%h2.media-heading
						%a{:href => '/newspapers'} Newspapers

					%p 83 newspaper titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
			.media
				%a.pull-left{:href => '/periodicals'}
					%img.media-object{ :src => '/assets/icon-home-periodicals.jpg'}
				.media-body
					%h2.media-heading
						%a{:href => '/periodicals'} Periodicals

					%p 83 newspaper titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
			.media
				%a.pull-left{:href => '/journals'}
					%img.media-object{ :src => '/assets/icon-home-journals.jpg'}
				.media-body
					%h2.media-heading
						%a{:href => '/journals'} Journals

					%p 83 newspaper titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
			.media
				%a.pull-left{:href => '/newspaper'}
					%img.media-object{ :src => '/assets/icon-home-newspapers.jpg'}
				.media-body
					%h2.media-heading
						%a{:href => '/newspaper'} Manuscripts

					%p 83 newspaper titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
			.media
				%a.pull-left{:href => '/newspaper'}
					%img.media-object{ :src => '/assets/icon-home-newspapers.jpg'}
				.media-body
					%h2.media-heading
						%a{:href => '/newspaper'} Parliamentary Papers

					%p 83 newspaper titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
		.col-md-6
			.well
				%p <strong>Papers Past</strong> contains more than three million pages of digitised New Zealand newspapers and periodicals. The collection covers the years 1839 to 1945 and includes 83 publications from all regions of New Zealand.
				%p There are two main ways to find information in Papers Past: searching and browsing. Searching lets you enter a query term and retrieves articles that contain that term. Browsing lets you look at all the newspapers, starting with a year, a region, or a newspaper title. All the newspaper titles on the site can be searched and browsed.
				%p The newspapers on Papers Past are only a small proportion of New Zealand newspapers. If you cannot find what you are looking for online, it may be available as a paper copy or microfilm. Check the National Newspaper Collection page on the National Library website for more information.
