$ppGreen: #93b05c;
$ppAccent: #995078;
$ppGray: #e3e3d4;


@mixin border-radius($a: false, $b: false, $c: false, $d: false, $top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0, $top: false, $bottom: false, $right: false, $left: false, $radius: false) {

  // Handle shorthand notation like CSS3 would
  // You shouldn't explictly set these variables when calling the mixin
  @if $d { $radius: $a $b $c $d; }
  @else if $c { $radius: $a $b $c; }
  @else if $b { $radius: $a $b; }
  @else if $a { $radius: $a; }

  @else {

    // Target individual corners (or groups) instead of using CSS3 shorthand
    @if $top { $top-left: $top; $top-right: $top; }
    @if $bottom { $bottom-right: $bottom; $bottom-left: $bottom; }
    @if $left { $top-left: $left; $bottom-left: $left; }
    @if $right { $top-right: $right; $bottom-right: $right; }

    // Set the radius
    $radius: $top-left $top-right $bottom-right $bottom-left;
  }

  // Webkit, Mozilla, KHTML and standard CSS3
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius; 

}

@mixin linear-gradient($from, $to, $ie: 0) {

  @if $ie != 1 { background-color: $to; }
  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, bottom, $from, $to);

  @if $ie == 1 { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'));
  }
}

body, p {
	font-family: "Avenir";
}

body {
	margin: 0 0 3em 0;
}

a {
	color: $ppGreen;
}

h1, h2, h3, h4, h5, h6, label, th {
	font-family: "Clarendon";
}

h1 {
	color: darken($ppGreen, 20%);
	padding: 0.3em 0;
	border-bottom: 1px solid darken($ppGreen, 20%);
	margin: 0 0 0.5em;
}

.navbar {
	background: $ppGreen;
	.navbar-brand {
		color: #fff !important;
		font-weight: 500 !important;
		font-family: "Clarendon";
	}
	li a {
		color: #fff !important;
	}
	.active a {
		background: darken($ppGreen, 20%) !important;
	}
}

ol.breadcrumb {
	text-transform: uppercase;
}

.home {
	h1 {
		color: darken($ppGreen, 20%);
		font-size: 4em;	
		margin-bottom: 0;
		border-bottom: 2px solid $ppAccent;
		padding: 0 0 0.4em 0;
		margin: 0.4em 0 0.4em 0;
		line-height: 50%;
		small {
			color: lighten($ppGreen, 20%);
			font-weight: 200;
			font-size: 0.4em;
			font-family: "Clarendon";
		}
	}
	.media-object {
		@include border-radius(6px);
	}
	.media-body p {
		color: #555;
	}
	.alert {
		h3, h4 {
			margin: 0;
		}
	}
}

.date-picker {
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	ul {
		border-top: 1px solid $ppGray;
	}
	li a {
		display: block;
		padding: 0.3em;
		margin: 0;
		border-bottom: 1px solid $ppGray;
	}
	li a:hover {
		background: $ppGray;
	}
	li.active {
		background: url(/assets/arrow-right.png) 100% 50% no-repeat $ppGreen;
		background-size: auto 80%;
		font-weight: bold;
		color: white;
		a, a:hover {
			color: white;
		}
	}
}

.format-home {
	h3 {
		margin: 0 0 0.5em;
		background: lighten($ppGreen, 40%);
		color: darken($ppGreen, 20%);
		padding: 0.3em 0.5em;
		@include border-radius(6px);
	}
	img {
		width:100%;
		@include border-radius(6px);
	}
	.date-column {
		label {
			float: left;
			width: 20%;
		}
		p {
			margin-left: 23%;
		}
	}
	.well {
		background: lighten($ppGreen, 40%);
		h3 {
			margin: 0 0 0.5em;
			padding: 0;
			background: transparent;
		}
		#query {
			width: 80%;
		}
		button {
			width: 19%;
			background: $ppAccent;
			color: #fff;
		}
		.tools {
			padding: 1em 0 0;
			label {
				padding: 0 1em 0 0;
				font-weight: normal;
			}
		}
	}
}

.newspaper-pages {
	.newspaper-page {
		float: left;
		margin: 10px 10px 10px 0;
		text-align: center;
		img {
			max-width: 100%;
			display: block;
		}
		p {
			text-transform: uppercase;
			color: $ppGreen;
		}
	}
}

img.masthead {
	max-width: 100%;
}


table {
	img.newspaper-logo {
		max-width: 300px;
	}
}

.results {
	h1 span, .results-info span {
		color: $ppAccent;
	}
	p.results-info {
		padding: 1em 0 0;
	}
	tr:hover {
		background: lighten($ppGreen, 40%);
	}
}

.item {
	img {
		display: block;
	}
	.tab-pane {
		padding-top: 1em;
	}
	.image-pad {
		background: $ppGray;
		padding: 1em;
	}
}