@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

$bodyFont: "Raleway", "Avenir";
$headingFont: "Rokkitt", "Clarendon";

$ppGreen: desaturate(#91aa62, 10%);
/* Green 		#add86b; */
/* Yellow 		#f4be42; */
/* Lavender 	#cca5db; */
/* Blue		 	#42a6f3; */
$ppAccent: #f4be42;
$ppAccentText: darken($ppAccent, 40%);
$ppGray: #e3e3d4;
$ppSuperHighlight: #a00;


@mixin border-radius($a: false, $b: false, $c: false, $d: false, $top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0, $top: false, $bottom: false, $right: false, $left: false, $radius: false) {

  // Handle shorthand notation like CSS3 would
  // You shouldn't explictly set these variables when calling the mixin
  @if $d { $radius: $a $b $c $d; }
  @else if $c { $radius: $a $b $c; }
  @else if $b { $radius: $a $b; }
  @else if $a { $radius: $a; }

  @else {

    // Target individual corners (or groups) instead of using CSS3 shorthand
    @if $top { $top-left: $top; $top-right: $top; }
    @if $bottom { $bottom-right: $bottom; $bottom-left: $bottom; }
    @if $left { $top-left: $left; $bottom-left: $left; }
    @if $right { $top-right: $right; $bottom-right: $right; }

    // Set the radius
    $radius: $top-left $top-right $bottom-right $bottom-left;
  }

  // Webkit, Mozilla, KHTML and standard CSS3
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius; 

}

body, p {
	font-family: $bodyFont;
}

body {
	margin: 0 0 3em 0;
}

a {
	color: $ppGreen;
}

h1, h2, h3, h4, h5, h6, th {
	font-family: $headingFont;
}

h1 {
	font-size: 2.4em;
	color: darken($ppGreen, 20%);
	padding: 0;
	margin: 0.5em 0;
}

h4 + h1 {
	margin-top: 0;
}

h5 {
	margin: 0 0 1em;
	text-transform: uppercase;
	font-family: $bodyFont;
	background: $ppGray;
	padding: 0.5em;
	border-radius: 5px;
}

label {
	font-weight: inherit;
}

.well {
	border: 3px solid $ppGray;
	background: #fff;
	border-radius: 10px;
	margin: 0 0 1em 0;
}

.well-masthead {
	text-align: center;
	img {
		display: inline;
	}
}

.navbar .open a.dropdown-toggle {
	background: $ppAccent !important;
	color: $ppAccentText !important;
}

.navbar-primary {
	background: $ppGreen;
	.navbar-brand {
		color: #fff !important;
		font-weight: 700 !important;
		font-family: $headingFont;
	}
	li a {
		color: #fff !important;
	}
	li li a {
		color: $ppGreen !important;
	}
	.active a, li.open > a, .navbar-collapse .active {
	}
	.navbar-header {
		.navbar-brand {
			background: darken($ppGreen, 15%) !important;
		}
	}
	.navbar-format {
		/* background: url(/assets/bg-nav-arr-r.png) 0 50% no-repeat, url(/assets/arrow-format.png) 100% 50% no-repeat $ppAccent !important; */ 
		background: $ppAccent !important;
		background-size: auto 50%, auto 100% !important;
		text-transform: uppercase;
		font-weight: 700;
		color: $ppAccentText !important;
		border: 3px solid white;
		border-top: 0;
		border-bottom: 0;
		a {
			color: $ppAccentText !important;
		}
	}
	.format-picker {
		background: $ppGreen !important;
		background-size: auto 100% !important;
	}
	.quick-help-toggle {
		font-weight: 700;
	}
}

.navbar-subnav {
	background: white;
	border: 3px solid $ppAccent;
	.active a {
		background: $ppAccent !important;
	}
	.navbar-nav li a {
	    line-height: 50px;
	    height: 50px;
	    padding-top: 0;
	}
}

.breadcrumbs {
	padding: 0;
	background: transparent !important;
	.breadcrumb-separator {
		color: $ppGray;
	}
}

.back-search-link {
	text-transform: uppercase;
	margin: 0 0 1.5em;
}


.home {
	h1 {
		color: lighten($ppGreen, 60%);
		background: darken($ppGreen, 20%);
		font-size: 4em;	
		padding: 0.3em 0.5em;
		border-bottom: 0px;
		border-radius: 0 0 10px 10px;
		margin: -60px 0 0.5em;
		small {
			color: lighten($ppGreen, 40%);
			font-weight: 200;
			font-size: 0.4em;
			font-family: $headingFont;
		}
	}
	.media-object {
		border-radius: 6px;
		border: 1px solid darken($ppGray, 10%);
	}
	.media-body p {
		color: #555;
	}
	.alert, .well {
		h3, h4 {
			margin: 0 0 0.4em 0;
		}
	}
}

#date-browser {
	border: 0;
	padding: 0;
	color: $ppGreen;
}

.format-home {
	
	padding-top: 1em;

	.facet {
		position: relative;
		a {
			position: relative;
			display: block;
			font-family: $headingFont;
			font-weight: 700;
			font-size: 1.8em;
			margin: 0 0 10px 0;
			border: 3px solid $ppAccent;
			border-radius: 10px;
			padding: 10px;
			line-height: 1.2;
			background: lighten($ppAccent, 30%);
			color: darken($ppAccent, 40%);

			&:hover {
				background: lighten($ppAccent, 20%);
				text-decoration: none;
			}
			small {
				margin: 0;
				padding: 0;
				display: block;
				line-height: auto;
				text-transform: uppercase;
				font-family: $bodyFont;
				font-size: 0.5em;
				padding: 0 0 0.5em 0;
				color: darken($ppAccent, 30%);
			}
			.facet-arrow {
				position: absolute;
				right: -12px;
				width: 9px;
				height: 40px;
				top: 50%;
				margin-top: -20px;
				background: $ppAccent url(/assets/arrow-facet.png) 0 50% repeat-y;
				background-size: 100% auto;
				transition: width 0.4s, right 0.4s;
				span {
					display: none;
				}
			}
		}
		.facet-reset {
			display: none;
			width: 4em;
			color: $ppAccentText;
			opacity: 0.5;
			position: absolute;
			top: 0.5em;
			left: -4.5em;
			text-transform: uppercase;
			text-align: right;
			.reset-label {
				display: none;
			}
			&:hover {
				color: $ppSuperHighlight;
				opacity: 1.0;
				.reset-label {
					display: inline;
				}
			}
		}
	}
	.facets a.active {
		background: $ppAccent !important;
		.facet-arrow {
			right: -23px;
			width: 20px;
		}
	}

	h3 {
		margin: 0 0 0.5em;
		background: lighten($ppGreen, 40%);
		color: darken($ppGreen, 20%);
		padding: 0.3em 0.5em;
		border-radius: 6px;
	}
	img {
		width:100%;
	}
	.date-column {
		label {
			float: left;
			width: 20%;
		}
		p {
			margin-left: 23%;
		}
	}
	.search-tool-panel {
		padding: 1em;
		border-radius: 0 0 1em 1em;
		border: 1px solid $ppGray;
		margin: 0 1.5em 1em;
		border-top: 0;
		display: none;
		position: relative;
		text-align: center;
	}

}

.sidebar {
	h4:first-child {
		margin-top: 0;
	}
}


.close-widget {
	border: 3px solid $ppAccent;
	background: lighten($ppAccent, 20%);
	color: $ppAccentText;
	font-weight: 700;
	border-radius: 10px;
	padding: 0.5em 1em;
	font-size: small;
	text-transform: uppercase;
	float: right;
	margin: 0 0 1em 0;
}
.close-widget:hover {
	background: $ppAccent;
}


.newspaper-pages {
	.newspaper-page {
		&:hover {
			border: 2px solid $ppAccent;
		}
		float: left;
		margin: 10px 10px 10px 0;
		width: 23%;
		height: 300px;
		overflow: hidden;
		position: relative;
		border: 2px solid $ppGray;
		border-radius: 0 0 1em 1em;
		p {
			position: absolute;
			bottom: 0;
			left: 0;
			color: $ppGreen;
			margin: 0;
			padding: 0.5em;
			height: 5em;
			background: rgba(0,0,0,0.6);
			color: #fff;
			line-height: 1.2;
			width: 100%;
			a {
				display: block;
				color: #fff;
				line-height: 1.2;
			}
		}
		.newspaper-page-image {
			max-width: 100%;
			max-height: 300px;
			overflow:hidden;
			margin: 0 0 0.5em;
			img {
				display: block;
			}
		}
	}
}


.page-image-detail {
	.page-expander {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		a {
			background: $ppAccent !important;
			padding: 0.5em;
			display: block;
			border-radius: 5px;
			width: 10em;
			text-align: center;
			opacity: 0.8;
			color: $ppAccentText;
			&:hover {
				opacity: 1.0;
			}
		}
		.fit {
			display: none;
		}
		.actual {
			display: block;
		}
	}
	position: relative;
	a {
		display: block;
		position: absolute;
	}
	a:hover {
		background: rgba(255, 204, 51, 0.4);
	}
}
 
.page-image-detail-compressed {
	a {
		display: none;
	}
	img {
		max-width: 100%;
	}
}


img.masthead {
	max-width: 100%;
}


table {
	img.newspaper-logo {
		max-width: 300px;
	}
}

.search-controls {
	overflow: hidden;
	margin: 1em 0;
	.search-control-panel {
		display: inline-block;
		padding: 0 0 0 1em;
	}
}


.results {
	.nav-pills {
		margin-bottom: 1em;
	}
	.nav-pills > li.active > a {
		background: $ppAccent;
		color: #fff;
	}
	.nav-pills > li > a {
		color: #444;
	}
	h1 {
		margin-bottom: 0;
	}
	.well {
		border-radius: 0;
		margin: 0;
		background: lighten($ppGreen, 40%);
	}
	h1 span, .results-info span {
		color: $ppAccent;
	}
	.btn-info {
		background: $ppAccent;
		border: 1px solid $ppAccent;
	}
	.results-info {
		margin: 0;
		padding: 1em 0;
	}
}

.table {
	margin: 1em 0;
}

th {
	background: $ppGray;
	border: 3px solid white !important;
	border-right: 0 !important;
}
tr:hover {
	background: lighten($ppGreen, 40%);
}


.item {
	img {
		display: block;
	}
	.tab-pane {
		border: 1px solid $ppGray;
		border-top: 0;
		padding: 1em;
	}
	.image-pad {
		padding: 0 0 1em 0;
	}
	.tab-content #images {
		img {
			display: block;
			margin: 0 auto;
		}
		.well {
			margin: 2em 0 0 0;
		}
	}
}

.region-group {
	padding: 0 0 1.5em 0;
	display: inline-block;
	width: 100%;
	background: white;
	margin: 0 0 1em 0;
	border-radius: 10px;
	border: 1px solid $ppGray;
	h5 {
		border-radius: 10px 10px 0 0;
	}
	.title {
		display: block;
	}
	.newspaper-title {
		padding-left: 1em !important;
	}
	input {
		background: white;
	}
}

.title-search-tools {
	h3:first-child {
		margin-top: 0;
	}

}

.calendar {
	h4 {
		width: 92%;
		font-family: $bodyFont;
		margin: 0;
		padding: 1em 0 0.5em;
		text-transform: uppercase;
		font-size: 1em;
		.glyphicon {
			font-size: 0.5em;
		}
	}
	table {
		tr:hover {
			background: inherit;
		}
		width: 100%;
		border-top: 1px solid $ppGray;
		border-left: 1px solid $ppGray;
		th {
			font-family: $bodyFont;
			font-weight: 700;
			text-align: center;
			border: 0 !important;
			background: $ppGray;
			color: lighten($ppGray, 20%);
		}
		th:last-child {
			border-right: 1px solid $ppGray !important;
		}
		td {
			border-right: 1px solid $ppGray;
			border-bottom: 1px solid $ppGray;
			text-align: center;
			padding: 0.5em 0;
			color: $ppGray;
			background: white;
			a {
				font-weight: 700;
				color: $ppAccentText;
			}
			&:hover {
				background: $ppAccent;
			}
		}
		td.published {
			background: lighten($ppAccent, 20%);
			border-right: 1px solid $ppAccent;
			border-bottom: 1px solid $ppAccent;
			color: $ppAccentText;
		}
		td.selected {
			background: $ppAccent;
			border-right: 1px solid $ppAccent;
			border-bottom: 1px solid $ppAccent;
			color: $ppAccentText;
			font-weight: 700;
		}
		td.printed {
			font-weight: 700;
			color: $ppAccentText;
		}
		td.unavailable {
			color: #c00;
			font-weight: 700;
		}
	}
}

.title-browser {
	.calendar {
		width: 50%;
		float: left;
		margin: 0 0 1em 0;
		table {
			width: 92%;
		}
	}
}

.search-option-panel-content {
	.calendar {
		td {
			color: $ppAccentText !important;
		}
	}
}

.multi-choice-palette {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 50%;
	width: 20em;
	margin: 0 0 0 -10em;
	padding: 15px 0 0 0;
	z-index: 9999;
	border-radius: 1em;
	background: url(/assets/arrow-up.png) 50% 0 no-repeat transparent;
	.multi-choice-palette-contents {
		border: 3px solid $ppGray;
		border-radius: 1em;
		background: white;
		box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
		height: 11em;
		overflow: scroll;
		padding: 1em 1em 1em 4px;
		a {
			box-sizing: border-box;
			width: 20%;
			display: block;
			float: left;
			padding: 4px;
			text-align: center;
			color: inherit;
		}
		.choose-item-decade {
			clear: left;
			font-weight: 700;
		}
		.choose-item {
			border-radius: 10px;
			&:hover {
				background: lighten($ppAccent, 30%);
			}
		}
		.choose-selected {
			background: $ppAccent;
			color: $ppAccentText;
		}
		.choose-item-inactive {
			color: $ppGray;
		}
	}
	.months {
		a {
			width: 33%;
		}
	}
}

/* This is the latest one! FIXME: clean out old date pickers */
.date-range-picker {
	h2, h4 {
		text-align: center;
		margin: 0 !important;
		padding: 0;
		width: 100%;
		line-height: auto;
		height: auto;
	}
	h2 {
		font-size: 2.4em;
	}
	h4 {
		font-size: 1.6em;
	}
	.glyphicon {
		color: $ppAccent;
		font-size: 1.2em;
	}
	.right-align {
		text-align: right;
	}
	.calendar {
		h4 {
			display: none;
		}
		margin: 1em 0;
	}
	.form-option-widget {
		font-style: italic;
		text-align: center;
		margin-bottom: 1em;
	}
	.date-picker-sidebar {
		.date-era-select {
			a.active {
				font-weight: bold;
			}
		}
		h5 {
			margin: 1em 0 0.5em 0;
		}
		#date-range-message {
			display: none;
		}
	}
	.timeline {
		h5 {
			margin: 1em 0;
		}
		.timeline-content {
			position: relative;
			height: 120px;
			margin: 1em 0 0;
			border: 1px solid $ppGray;
			border-bottom: 0;
			background: lighten($ppGreen, 20%);
			.muted {
				.bar-magnitude {
					background: rgba(0,0,0,0.2) !important;
				}
			}
			.timeline-hilite {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 120px;
				background: white;
				box-sizing: border-box;
				border-left: 2px solid $ppSuperHighlight;
				border-right: 2px solid $ppSuperHighlight;
			}
			.timeline-bar {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 6px;
				height: 120px;
				.bar-label {
					position: absolute;
					top: 1.2em;
					left: 1em;
					padding: 0.5em;
					font-weight: 700;
					display: none;
					width: 8em;
					background: rgba(255,255,255,0.8);
					z-index: 9999;
					span {
						display: block;
					}
				}
				.bar-magnitude {
					position: absolute;
					background: $ppAccent;
					width: 100%;
					bottom: 0;
					left: 0;
				}
				&:hover {
					background-color: rgba(0,0,0,0.1);
					.bar-label {
						display: block;
						span {
							font-weight: 300;
							font-size: 0.92em
						}
					}
					.bar-magnitude {
						background: #333 !important;
					}
				}
			}
			.timeline-timescale {
				height: 120px;
				position: absolute;
				top: 0;
				left: 0;
				padding: 4px;
				font-size: 0.8em;
				box-sizing: border-box;
				color: darken($ppGreen, 10%);
				border-left: 1px solid lighten($ppGreen, 10%);
			}
		}
	}
}


.pagination {
	li.active, li.active a {
		background: $ppAccent !important;
		border-color: $ppAccent !important;
		color: darken($ppAccent, 40%) !important;
		font-weight: 700;
	}
}

.search-box {
	position: relative;
	margin: 0 0 1em;
	h3 {
		margin: 0.5em 0;
		padding: 0;
		background: transparent;
	}
	#query {
		border: 3px solid $ppAccent; /* lighten($ppAccent, 20%); */
		border-right: 0;
	}
	button {
		background: $ppAccent;
		color: $ppAccentText;
		border: 4px solid $ppAccent;
		border-radius: 0.6em;
		text-transform: uppercase;
		font-weight: 700;
	}
	.tools {
		position: relative;
		display: none;
		padding: 1em 1em 0.6em;
		margin: 0 1.5em 1em;
		background: lighten($ppAccent, 37%);
		border: 2px solid lighten($ppAccent, 20%);
		border-top: 0;
		border-radius: 0 0 1em 1em;
		label {
			font-family: $bodyFont;
			padding: 0 1em 0 0;
			font-weight: normal;
		}
		h4 {
			margin-top: 1em;
		}
		.inactive {
			display: none !important;
		}
	}
	.facet-tools {
		label {
			display: block;
		}
	}

	.slider-range {
		margin: 0 25px 0 0;
		border-radius: 0;
		background: lighten($ppGreen, 20%) url(/assets/timeline-bar-muted.png) 0 0;
	}
	.ui-slider-range {
		background: $ppAccent;
	}
	.ui-slider-handle {
		background: white;
		border: 1px solid $ppGreen;
	}
	.date-select {
		text-align: center;
		h4 {
			text-align: left;
		}
		em {
			display: block;
			margin-top: 0.5em;
		}
	}
	.title-note {
		display: none;
		color: #a00;
		background: #ff0;
		margin: 0 0 1em;
	}
	.search-cats-col {
		-moz-column-count:3; /* Firefox */
		-webkit-column-count:3; /* Safari and Chrome */
		column-count:3;
		input {
			display: inline;
		}
		clear: right;
	}
	.search-option-panel {
		border-radius: 5px;
		background: white;
		h4 {
			padding: 0.5em;
			color: darken($ppGreen, 20%);
			overflow: auto;
		}
		.search-option-panel-content {
			padding: 0 1em 1em 1em;
		}
	}
	.slider-caption {
		text-align: center;
	}
	.date-precise-button, .date-precise-hider {
		display: block;
		text-align: center;
		margin: 0.5em 0 0 0;
	}
	.date-precise {
		display: none;
	}
	.active {
		h4 span {
			opacity: 0;
  		}
	}
	.inactive {
		display: none;
	}
}


.dataTables_filter {
	display: none;
}

footer {
	padding: 1em 0;
	border-top: 1px solid $ppGray;
	margin: 2em 0 0 0;
	img {
		width: 100%;
	}
}






/** PRESENTATION STYLES **/
body.pres {
	background: $ppGray;
}

#preso {

	#title {
		h1 {
			color: $ppGreen;
			font-size: 5em;
		}
		p {
			margin-top: 7em;
			margin-bottom: 3em;
			font-style: italic;
			font-size: 0.9em;
			a {
				color: #666;
			}
		}
		border: 3px solid #555;
  	}

  	#change {
  		background: white url(/assets/presentation-undesirable.jpg) 50% 50% no-repeat scroll;
  		background-size: contain;
  	}

  	#example {
  		background: white url(/assets/presentation-article.png) 50% 50% no-repeat scroll;
  		background-size: contain;
  	}

  	.slide {
  		h3 {
  			font-size: 2em;
  			font-weight: 700;
  			color: $ppGreen;
  		}
  		li {
  			font-size: 24px;
  			line-height: 1.5;
  			padding: 0 1em 0.5em;
  		}
  	}

	.step {
		width: 900px;
		min-height: 550px;
		background-color: white;
		display: block;
	    padding: 40px 60px;
	    border-radius: 10px;
	    border: 1px solid rgba(0, 0, 0, .3);
	    letter-spacing: -1px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		-ms-box-sizing:     border-box;
		-o-box-sizing:      border-box;
		box-sizing:         border-box;

		-webkit-transition: opacity 1s;
		-moz-transition:    opacity 1s;
		-ms-transition:     opacity 1s;
		-o-transition:      opacity 1s;
		transition:         opacity 1s;
	}

	#overview {
		display: none;
	}

	/* fade out inactive slides */
	.step:not(.active) {
		opacity: 0.3;
	}

	/* hint on the first slide */
	.hint {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0px;

		background: #333;
		color: #fff;
		text-align: right;

		padding: 10px;
		z-index: 100;

		opacity: 0;

		-webkit-transform: translateY(400px);
		-moz-transform:    translateY(400px);
		-ms-transform:     translateY(400px);
		-o-transform:      translateY(400px);
		transform:         translateY(400px);

		-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
		-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
		-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
		-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
		transition:         opacity 1s,         transform 0.5s 1s;
	}
	.step-home + .hint {
		opacity: 1;

		-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
		-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
		-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
		-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
		transition:         opacity 1s 5s,         transform 0.5s;

		-webkit-transform: translateY(0px);
		-moz-transform:    translateY(0px);
		-ms-transform:     translateY(0px);
		-o-transform:      translateY(0px);
		transform:         translateY(0px);
	}

	/** NOT SUPPORTED STYLES **/
	.not-supported .step {
		position: relative;
		opacity: 1;
		margin: 20px auto;
	}
}


.axis line {
	shape-rendering: crispEdges;
	stroke: #000;
}

/* COLOR TEST */
$colorTestCore: #a0b13d;
$colorTestAccent1: #9843B2;
$colorTestAccent2: #739fde;
$colorTestAccent3: #f3be41;
$colorTestAccent4: #256374;
$colorTestAccent5: #88405e;
$colorTestNeutral: #353535;
$colorTestHighlight: #a00;

.color-test {
	width: 100px;
	height: 100px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid white;
}
.color-test-row {
	width: 900px;
	height: 100px;
}

$colorTest: $colorTestCore, $colorTestAccent1, $colorTestAccent2, $colorTestAccent3, $colorTestAccent4, $colorTestAccent5, $colorTestNeutral, $colorTestHighlight;
$colorTestName: core, accent1, accent2, accent3, accent4, accent5, neutral, highlight;

@for $i from 1 through 8 {
	.color-#{nth($colorTestName, $i)} {
		.color-100 {
			background: lighten(nth($colorTest, $i), 40%);
		}
		.color-200 {
			background: lighten(nth($colorTest, $i), 30%);
		}
		.color-300 {
			background: lighten(nth($colorTest, $i), 20%);
		}
		.color-400 {
			background: lighten(nth($colorTest, $i), 10%);
		}
		.color-500 {
			background: nth($colorTest, $i);
		}
		.color-600 {
			background: darken(nth($colorTest, $i), 10%);
		}
		.color-700 {
			background: darken(nth($colorTest, $i), 20%);
		}
		.color-800 {
			background: darken(nth($colorTest, $i), 30%);
		}
		.color-900 {
			background: darken(nth($colorTest, $i), 40%);
		}
	}
}




