$ppGreen: desaturate(#93b05c, 5%);
$ppAccent: #995078;
$ppGray: #e3e3d4;
$ppSuperHighlight: #fc3;


@mixin border-radius($a: false, $b: false, $c: false, $d: false, $top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0, $top: false, $bottom: false, $right: false, $left: false, $radius: false) {

  // Handle shorthand notation like CSS3 would
  // You shouldn't explictly set these variables when calling the mixin
  @if $d { $radius: $a $b $c $d; }
  @else if $c { $radius: $a $b $c; }
  @else if $b { $radius: $a $b; }
  @else if $a { $radius: $a; }

  @else {

    // Target individual corners (or groups) instead of using CSS3 shorthand
    @if $top { $top-left: $top; $top-right: $top; }
    @if $bottom { $bottom-right: $bottom; $bottom-left: $bottom; }
    @if $left { $top-left: $left; $bottom-left: $left; }
    @if $right { $top-right: $right; $bottom-right: $right; }

    // Set the radius
    $radius: $top-left $top-right $bottom-right $bottom-left;
  }

  // Webkit, Mozilla, KHTML and standard CSS3
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius; 

}

@mixin linear-gradient($from, $to, $ie: 0) {

  @if $ie != 1 { background-color: $to; }
  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, bottom, $from, $to);

  @if $ie == 1 { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'));
  }
}

body, p {
	font-family: "Avenir";
}

body {
	margin: 0 0 3em 0;
}

a {
	color: $ppGreen;
}

h1, h2, h3, h4, h5, h6, th {
	font-family: "Clarendon";
}

h1 {
	color: darken($ppGreen, 20%);
	padding: 0.3em 0;
	border-bottom: 1px solid darken($ppGreen, 20%);
	margin: 0 0 0.5em;
}

label {
	font-weight: inherit;
}

.navbar {
	background: $ppGreen;
	.navbar-brand {
		color: #fff !important;
		font-weight: 500 !important;
		font-family: "Clarendon";
	}
	li a {
		color: #fff !important;
	}
	li li a {
		color: $ppGreen !important;
	}
	.active a, li.open > a, .navbar-collapse .active {
		background: url(/assets/bg-nav-arr-r.png) 0 50% no-repeat darken($ppGreen, 10%) !important;
		background-size: auto 100% !important;
		padding-left: 1.2em;
	}
	.navbar-header {
		.navbar-brand {
			background: url(/assets/bg-nav-arr-l.png) 100% 50% no-repeat darken($ppGreen, 20%) !important;
			background-size: auto 100% !important;
		}
	}
}

ol.breadcrumb {
	text-transform: uppercase;
}

.home {
	h1 {
		color: lighten($ppGreen, 60%);
		background: darken($ppGreen, 20%);
		font-size: 4em;	
		padding: 0.3em 0.5em;
		border-bottom: 0px;
		@include border-radius(0 0 10px 10px);
		margin: -60px 0 0.5em;
		small {
			color: lighten($ppGreen, 40%);
			font-weight: 200;
			font-size: 0.4em;
			font-family: "Clarendon";
		}
	}
	.media-object {
		@include border-radius(6px);
		border: 1px solid darken($ppGray, 10%);
	}
	.media-body p {
		color: #555;
	}
	.alert, .well {
		h3, h4 {
			margin: 0 0 0.4em 0;
		}
	}
}

.date-picker {
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	ul {
		border-top: 1px solid $ppGray;
	}
	li a {
		display: block;
		padding: 0.3em;
		margin: 0;
		border-bottom: 1px solid $ppGray;
	}
	li a:hover {
		background: $ppGray;
	}
	li.active {
		background: url(/assets/arrow-right.png) 100% 50% no-repeat $ppGreen;
		background-size: auto 80%;
		font-weight: bold;
		color: white;
		a, a:hover {
			color: white;
		}
	}
}

#date-browser {
	border: 0;
	padding: 0;
	color: $ppGreen;
}

.format-home {
	
	padding-top: 1em;

	h2:first-child {
		margin-top: 0;
	}
	h2 {
		small {
			display: block;
		}
		a {
			border-bottom: 2px dotted $ppGray;
		}
	}

	h3 {
		margin: 0 0 0.5em;
		background: lighten($ppGreen, 40%);
		color: darken($ppGreen, 20%);
		padding: 0.3em 0.5em;
		@include border-radius(6px);
	}
	img {
		width:100%;
		@include border-radius(6px);
	}
	.date-column {
		label {
			float: left;
			width: 20%;
		}
		p {
			margin-left: 23%;
		}
	}
	.search-tool-panel {
		padding: 1em;
		border-radius: 0 0 1em 1em;
		border: 1px solid $ppGray;
		display: none;
		position: relative;
	}

}

.close-widget {
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	font-size: small;
	text-transform: uppercase;
}
.close-widget:hover {
	opacity: 1.0;
}


.newspaper-pages {
	.newspaper-page {
		float: left;
		margin: 10px 10px 10px 0;
		text-align: center;
		max-width: 23%;
		height: 260px;
		overflow: hidden;
		p {
			color: $ppGreen;
			margin: 0;
		}
		.newspaper-page-image {
			border-radius: 10px;
			border: 1px solid $ppGray;
			max-width: 100%;
			max-height: 210px;
			overflow:hidden;
			margin: 0 0 0.5em;
			img {
				display: block;
			}
		}
	}
}

img.masthead {
	max-width: 100%;
}


table {
	img.newspaper-logo {
		max-width: 300px;
	}
}

.search-controls {
	overflow: hidden;
	text-align: center;
	.search-control-panel {
		display: inline-block;
		padding: 0 0 0 1em;
	}
}


.results {
	.nav-pills {
		margin-bottom: 1em;
	}
	.nav-pills > li.active > a {
		background: $ppAccent;
		color: #fff;
	}
	.nav-pills > li > a {
		color: #444;
	}
	h1 {
		margin-bottom: 0;
	}
	.well {
		border-radius: 0;
		margin: 0;
		background: lighten($ppGreen, 40%);
	}
	h1 span, .results-info span {
		color: $ppAccent;
	}
	.btn-info {
		background: $ppAccent;
		border: 1px solid $ppAccent;
	}
	.results-info {
		margin: 0;
		padding: 1em 0;
	}
	th {
		background: lighten($ppGreen, 20%);
	}
	tr:hover {
		background: lighten($ppGreen, 40%);
	}
}

.item {
	img {
		display: block;
	}
	.tab-pane {
		border: 1px solid $ppGray;
		border-top: 0;
		padding: 1em;
	}
	.image-pad {
	}
}

.region-group {
	padding: 0.5em;
	margin: 0 0 1em;
	border-radius: 0.5em;
	border: 1px solid $ppGray;
	display: inline-block;
	width: 100%;
	.title {
		display: block;
	}
	.newspaper-title {
		padding-left: 1em;
	}
	.region-title {
		font-weight: bold;
	}
	input {
		background: white;
	}
}


.search-box {
	position: relative;
	margin: 0 0 1em;
	h3 {
		margin: 0.5em 0;
		padding: 0;
		background: transparent;
	}
	#query {
		width: 79%;
		border: 4px solid $ppGray;
		border-radius: 0.6em;
		margin-right: 1%;
	}
	button {
		width: 19%;
		background: $ppAccent;
		color: #fff;
		border: 4px solid lighten($ppAccent, 10%);
		border-radius: 0.6em;
	}
	.tools {
		position: relative;
		display: none;
		padding: 1em 0 0;
		label {
			font-family: "Avenir";
			padding: 0 1em 0 0;
			font-weight: normal;
		}
	}
	/*
	#search-options-toggle {
		display: block;
		padding: 0.5em 0.5em 0.25em;
		width: 16em;
		position: absolute;
		bottom: 0;
		right: 0;
		background: lighten($ppGreen, 10%);
		color: #fff;
		border: 1px solid lighten($ppGreen, 10%);
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 1em;
	}
	*/

	.advanced-search-options {
		h3.narrow {
			margin: 0.5em 0 0;
			font-size: 1.4em;
		}
		.inactive {
			display: none;
		}
	}
	.slider-range {
		margin: 0.5em 1em;
	}
	.ui-slider-range {
		background: $ppGreen;
	}
	.ui-slider-handle {
		background: white;
		border: 1px solid $ppGreen;
	}
	.date-select {
		text-align: center;
		h4 {
			text-align: left;
		}
		em {
			display: block;
			margin-top: 0.5em;
		}
	}
	.title-note {
		display: none;
		color: #a00;
		margin: 0 0 1em;
	}
	.search-cats-col {
		-moz-column-count:3; /* Firefox */
		-webkit-column-count:3; /* Safari and Chrome */
		column-count:3;
		input {
			display: inline;
		}
	}
	.search-option-panel {
		border-radius: 5px;
		background: white;
		h4 {
			padding: 0.5em;
			color: darken($ppGreen, 20%);
			overflow: auto;
		}
		.search-option-panel-content {
			padding: 0 1em 1em 1em;
		}
	}
	.slider-caption {
		text-align: center;
	}
	.date-precise-button, .date-precise-hider {
		display: block;
		text-align: center;
		margin: 0.5em 0 0 0;
	}
	.date-precise {
		display: none;
	}
	.active {
		h4 span {
			opacity: 0;
  		}
	}
	.inactive {
		display: none;
	}
}


.dataTables_filter {
	display: none;
}

footer {
	padding: 1em 0;
	border-top: 1px solid $ppGray;
	margin: 2em 0 0 0;
	img {
		width: 100%;
	}
}






/** PRESENTATION STYLES **/
body.pres {
	background: $ppGray;
}

#preso {

	#title {
		h1 {
			color: $ppGreen;
			font-size: 5em;
		}
		p {
			margin-top: 7em;
			margin-bottom: 3em;
			font-style: italic;
			font-size: 0.9em;
			a {
				color: #666;
			}
		}
		border: 3px solid #555;
  	}

  	#change {
  		background: white url(/assets/presentation-undesirable.jpg) 50% 50% no-repeat scroll;
  		background-size: contain;
  	}

  	#example {
  		background: white url(/assets/presentation-article.png) 50% 50% no-repeat scroll;
  		background-size: contain;
  	}

  	.slide {
  		h3 {
  			font-size: 2em;
  			font-weight: 700;
  			color: $ppGreen;
  		}
  		li {
  			font-size: 24px;
  			line-height: 1.5;
  			padding: 0 1em 0.5em;
  		}
  	}

	.step {
		width: 900px;
		min-height: 550px;
		background-color: white;
		display: block;
	    padding: 40px 60px;
	    border-radius: 10px;
	    border: 1px solid rgba(0, 0, 0, .3);
	    letter-spacing: -1px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		-ms-box-sizing:     border-box;
		-o-box-sizing:      border-box;
		box-sizing:         border-box;

		-webkit-transition: opacity 1s;
		-moz-transition:    opacity 1s;
		-ms-transition:     opacity 1s;
		-o-transition:      opacity 1s;
		transition:         opacity 1s;
	}

	#overview {
		display: none;
	}

	/* fade out inactive slides */
	.step:not(.active) {
		opacity: 0.3;
	}

	/* hint on the first slide */
	.hint {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0px;

		background: #333;
		color: #fff;
		text-align: right;

		padding: 10px;
		z-index: 100;

		opacity: 0;

		-webkit-transform: translateY(400px);
		-moz-transform:    translateY(400px);
		-ms-transform:     translateY(400px);
		-o-transform:      translateY(400px);
		transform:         translateY(400px);

		-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
		-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
		-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
		-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
		transition:         opacity 1s,         transform 0.5s 1s;
	}
	.step-home + .hint {
		opacity: 1;

		-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
		-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
		-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
		-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
		transition:         opacity 1s 5s,         transform 0.5s;

		-webkit-transform: translateY(0px);
		-moz-transform:    translateY(0px);
		-ms-transform:     translateY(0px);
		-o-transform:      translateY(0px);
		transform:         translateY(0px);
	}

	/** NOT SUPPORTED STYLES **/
	.not-supported .step {
		position: relative;
		opacity: 1;
		margin: 20px auto;
	}
}


.axis line {
	shape-rendering: crispEdges;
	stroke: #000;
}
