.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-6

			#search-options-dates.search-option-panel
				%h4 
					Dates
				.search-option-panel-content
					.slider-range
					.slider-caption
						From 
						%input#year-start{ :type => 'text', :value => 1830, :size => 5 }
						to
						%input#year-end{ :type => 'text', :value => 1945, :size => 5 }
						%em.date-precise
							or,
							= link_to 'choose a more precise date range', '#'

		.col-md-6
			.search-option-panel
				%h4 
					Titles
				.search-option-panel-content
					%ul
						%li
							= check_box_tag :article, "articles", true
							Kai Tiaki: The Journal of NZ Nursing
						%li
							= check_box_tag :article, "articles", true
							Te Ao Hou
						%li
							= check_box_tag :article, "articles", true
							Transactions and Proceedings of the Royal Society of New Zealand
