.thumbnail-pages
	- 12.times do |n|
		.thumbnail-page
			.thumbnail-page-image
				= link_to image_tag("home-manuscripts.jpg"), "/manuscripts/title/mclean-papers"
			%p
				= link_to "McLean Papers", "/manuscripts/title/mclean-papers"
