.newspaper-pages
	- 12.times do |n|
		.newspaper-page
			.newspaper-page-image
				= link_to image_tag("home-manuscripts.jpg"), "/manuscripts/title/mclean-papers"
			%p
				= link_to "McLean Papers", "/manuscripts/title/mclean-papers"
